name: dhyana
description: A meditation timer application.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev
version: 0.6.0+1

environment:
  sdk: '>=3.8.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # System & Architectural
  intl: ^0.20.2
  logger: ^2.0.2+1
  go_router: ^17.0.0
  go_router_builder: ^4.1.0
  provider: ^6.0.5
  flutter_bloc: ^9.1.1
  freezed_annotation: ^3.0.0
  json_annotation: ^4.8.1
  uuid: ^4.4.0
  package_info_plus: ^9.0.0
  vector_math: ^2.1.4
  collection: ^1.19.0
  faker: ^2.2.0
  rnd: 0.2.0
  flutter_cache_manager: ^3.4.1

  # Ui
  flutter_animate: ^4.2.0
  flutter_form_builder: ^10.0.1
  image_picker: ^1.0.2
  form_builder_validators: ^11.0.0
  cupertino_icons: ^1.0.2
  image: ^4.0.15
  cached_network_image: ^3.2.0
  flutter_blurhash: ^0.9.1
  flutter_shaders: ^0.1.2
  flip_board: ^1.0.0
  blurhash_dart: ^1.1.0

  # Additional functionalities
  audioplayers: ^6.0.0
  wakelock_plus: ^1.1.1
  url_launcher: ^6.1.5
  shared_preferences: ^2.0.5
  gaimon: ^1.4.1 # haptic feedback library
  dart_geohash: ^2.1.0
  tflite_flutter: ^0.12.1 # For NSFW model inference

  # Firebase
  firebase_core: ^4.1.1
  cloud_firestore: ^6.0.2
  firebase_storage: ^13.0.2
  firebase_remote_config: ^6.0.2
  cloud_functions: ^6.0.4

  # Firebase Auth
  firebase_auth: ^6.1.0
  google_sign_in: ^7.2.0
  sign_in_with_apple: ^7.0.1
  crypto: ^3.0.2

  # Firebase diagnostics
  firebase_analytics: ^12.0.2
  firebase_crashlytics: ^5.0.2

  bar_chart:
    path: packages/bar_chart
  particle_field:
    path: packages/particle_field

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

  nock: ^1.2.3
  flutter_lints: ^6.0.0
  build_runner: ^2.4.6
  freezed: ^3.0.6
  json_serializable: ^6.7.1
  bloc_test: ^10.0.0
  mocktail: ^1.0.3
  mocktail_image_network: ^1.2.0


flutter:
  generate: true # For generating localizations?
  assets:
    - assets/sounds/
    - assets/images/
    - assets/nsfw.tflite

  shaders:
    - shaders/linear_gradient_mask.frag
    - shaders/gradient_flow.frag
    - shaders/test.frag

  fonts:
    - family: RobotoSlab
      fonts:
        - asset: assets/fonts/Roboto_Slab/static/RobotoSlab-Black.ttf
        - asset: assets/fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf
        - asset: assets/fonts/Roboto_Slab/static/RobotoSlab-ExtraBold.ttf
        - asset: assets/fonts/Roboto_Slab/static/RobotoSlab-ExtraLight.ttf
        - asset: assets/fonts/Roboto_Slab/static/RobotoSlab-Light.ttf
        - asset: assets/fonts/Roboto_Slab/static/RobotoSlab-Medium.ttf
        - asset: assets/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf
        - asset: assets/fonts/Roboto_Slab/static/RobotoSlab-SemiBold.ttf
        - asset: assets/fonts/Roboto_Slab/static/RobotoSlab-Thin.ttf
    - family: RobotoCondensed
      fonts:
        - asset: assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf
        - asset: assets/fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf
        - asset: assets/fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf
        - asset: assets/fonts/Roboto_Condensed/RobotoCondensed-Light.ttf
        - asset: assets/fonts/Roboto_Condensed/RobotoCondensed-LightItalic.ttf
        - asset: assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf

  uses-material-design: true
